<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="@{components/head} :: head"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <div th:replace="@{components/navbar} :: navbar"></div>
    <div th:replace="@{components/sidebar} :: sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>My Account</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/index">Home</a></li>
                            <li class="breadcrumb-item"><a href="/account/home">My Account</a></li>
                            <li class="breadcrumb-item active">My Account</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Account creation form -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Create new account</h3>
                        </div>
                        <div class="box-body">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="accountName" class="col-lg-2 control-label">Account Name</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="accountName"
                                                   placeholder="Account Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="accountDesc" class="col-lg-2 control-label">Description</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="accountDesc"
                                                   placeholder="Account Description">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="accountBalance" class="col-lg-2 control-label">Balance</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="accountBalance"
                                                   placeholder="Account Balance">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="accountCurrency" class="col-lg-2 control-label">Currency</label>
                                        <div class="col-lg-10">
                                            <select class="form-control" id="accountCurrency">
                                                <option>IDR</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="reset" name="reset" value="reset" class="btn btn-default">Cancel</button>
                                            <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END - Account creation form -->


        </section>
        <!-- /.content -->
    </div>

    <!--    <div th:replace="@{components/footer} :: footer"></div>-->
    <div th:replace="@{components/control-sidebar} :: control-sidebar"></div>

</div>
<!-- ./wrapper -->

<div th:include="@{components/script} :: script"></div>
</body>
</html>