<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="@{components/head} :: head"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <div th:replace="@{components/navbar} :: navbar"></div>
    <div th:replace="@{components/sidebar} :: sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>My Account</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/index">Home</a></li>
                            <li class="breadcrumb-item active">My Account</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <a href="/account/create" class="btn btn-secondary">Create Account</a>
            <!-- Default box -->
            <th:block th:each="account:${accounts}">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:if="null!=${account.accountName}" th:text="${account.accountName}">[no account name]</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p th:if="null!=${account.accountBalance}">
                            <th:block th:text="${account.accountBalance.amount}">0</th:block>
                            <th:block th:if="null!=${account.accountBalance.currency}" th:text="${account.accountBalance.currency}"/>
                        </p>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <p th:if="null!=${account.accountDesc}" th:text="'Balance: '+${account.accountDesc}"></p>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </th:block>


        </section>
        <!-- /.content -->
    </div>

<!--    <div th:replace="@{components/footer} :: footer"></div>-->
    <div th:replace="@{components/control-sidebar} :: control-sidebar"></div>

</div>
<!-- ./wrapper -->

<div th:include="@{components/script} :: script"></div>
</body>
</html>